/* for the first api key an account with maanmittauslaios in necessary https://omatili.maanmittauslaitos.fi/user/new/avoimet-rajapintapalvelut
and for the second api key a developer account with Esri is necessary. https://www.arcgis.com/sharing/rest/oauth2/authorize?client_id=arcgisdevelopers&response_type=code&expiration=20160&redirect_uri=https%3A%2F%2Fdevelopers.arcgis.com%2Fpost-sign-in%2F&state=%7B%22id%22%3A%22sxkGmqfxywELCWGLIQGDOf2bIAiZW72cU6ndw_A2qa4%22%2C%22originalUrl%22%3A%22https%3A%2F%2Fdevelopers.arcgis.com%2F%22%7D&locale=&style=&code_challenge_method=S256&code_challenge=gTGFZJHd3dveNINznCZTOeqGLBIYb_nZvucd-Hk89VM&showSignupOption=true&signuptype=developers
This seceret file should be created by right clicking on the project and then chosing "Manage User Secrets"
*/

{
  "Settings": {
    "API-key": "your api key",
    "EsriAPI": "your api key"
  }
}
